<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461807062036-e96unc4u5usan4h5nlrgak0f27hon8i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461807062036-e96unc4u5usan4h5nlrgak0f27hon8i6</string>
	<key>API_KEY</key>
	<string>AIzaSyCYHfb3X-Hb19yrzrLYmZy1Ss7sgn3oUPA</string>
	<key>GCM_SENDER_ID</key>
	<string>461807062036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalvision.rentam</string>
	<key>PROJECT_ID</key>
	<string>rentam-ios2</string>
	<key>STORAGE_BUCKET</key>
	<string>rentam-ios2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461807062036:ios:75b08e8b766569478b2b01</string>
</dict>
</plist>